.error {
    color: red;
}
.mt20 {
    margin-top: 20px;
}
.mr5 {
    margin-right: 5px;
}
.input {
	margin-top: 10px;
	margin-left: 2px;
}

.addqc{
	width:80%;
}

#search input { width: 80px }
.table{
	overflow-y: scroll;
}

input, textarea{
    /*text-transform:uppercase;*/
}

.sidebar-menu{
    font-size:16px !important;
}
input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
}

